@import ".././../../styles/tokens.scss";

.btn {
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease, color 0.2s ease;

    color: $white;
    font-size: 14px;
    font-weight: bold;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.50;
        background: $green100;
    }
}

.btn-primary {
    background: $green100;
}

.btn-link {
    background: transparent;
    color: $gray100;
    font-size: 14px;
    font-weight: 600;
}
