<div class="form-group" [formGroup]="formGroup">
    <label>{{ label }}</label>
    <div class="file-upload-container">
    <input 
        type="file" 
        [id]="controlName" 
        (change)="onFileSelected($event)" 
        #fileInput
        accept=".pdf,.png,.jpg,.jpeg"
    >
    <div class="file-upload-trigger" (click)="fileInput.click()">
        <span class="file-name">{{ fileName || placeholder }}</span>
        <div class="upload-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="17 8 12 3 7 8"></polyline>
                <line x1="12" y1="3" x2="12" y2="15"></line>
            </svg>
        </div>
    </div>
    </div>
</div>